In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime


%matplotlib inline

In [2]:
Traffic_Accidents_df = pd.read_csv("Traffic_Accidents.csv")

C:\Users\sheno\AppData\Local\Temp\ipykernel_37980\743189976.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Traffic_Accidents_df = pd.read_csv("Traffic_Accidents.csv")

In [3]:
Traffic_Accidents_df.head()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20200606233,"September 21, 2020 06:37 PM",1.0,0,0,NaN,False,311344.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,TREE;Ran Off Road-Left,LEWIS ST & FAIN ST,NASHVILLE,TN,37210.0,8207.0,HERMIT,36.1518,-86.7580,POINT (-86.758 36.1518)
1,20200603908,"September 20, 2020 12:00 AM",1.0,0,0,True,True,409155.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,MAIL BOX,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207.0,2005.0,MADISO,36.2323,-86.7733,POINT (-86.7733 36.2323)
2,20200604395,"September 20, 2020 07:20 PM",1.0,1,0,NaN,False,330419.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,OTHER ANIMAL,SHUTE LN & SAUNDERSVILLE RD,OLD HICKORY,TN,37138.0,9717.0,HERMIT,36.2267,-86.6032,POINT (-86.6032 36.2267)
3,20200605021,"September 21, 2020 05:58 AM",2.0,0,0,NaN,False,256569.0,5.0,SIDESWIPE - SAME DIRECTION,...,MOTOR VEHICLE IN TRANSPORT,MURFREESBORO PKE & WILHAGAN RD,NASHVILLE,TN,37217.0,8801.0,SOUTH,36.1325,-86.7193,POINT (-86.7193 36.1325)
4,20200605988,"September 21, 2020 03:27 PM",2.0,0,0,NaN,False,179606.0,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,NOLENSVILLE PKE & WOODYCREST AV,NASHVILLE,TN,37211.0,8041.0,MIDTOW,36.1312,-86.7562,POINT (-86.7562 36.1312)

In [4]:
Traffic_Accidents_df.columns

Index(['Accident Number', 'Date and Time', 'Number of Motor Vehicles',
       'Number of Injuries', 'Number of Fatalities', 'Property Damage',
       'Hit and Run', 'Reporting Officer', 'Collision Type Code',
       'Collision Type Description', 'Weather Code', 'Weather Description',
       'Illumination Code', 'Illumination Description', 'Harmful Code',
       'Harmful Description', 'Street Address', 'City', 'State', 'ZIP', 'RPA',
       'Precinct', 'Latitude', 'Longitude', 'Mapped Location'],
      dtype='object')

In [18]:
Traffic_Accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220118 entries, 0 to 220117
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident Number             220118 non-null  int64
 1   Date and Time               220118 non-null  object
 2   Number of Motor Vehicles    220117 non-null  float64
 3   Number of Injuries          220118 non-null  int64
 4   Number of Fatalities        220118 non-null  int64
 5   Property Damage             16254 non-null   object
 6   Hit and Run                 220101 non-null  object
 7   Reporting Officer           220108 non-null  float64
 8   Collision Type Code         220101 non-null  float64
 9   Collision Type Description  220101 non-null  object
 10  Weather Code                214737 non-null  float64
 11  Weather Description         214737 non-null  object
 12  Illumination Code           219808 non-null  float64
 13  Illumination Description    219808 non-null  object
 14  Harmful Code                220118 non-null  object
 15  Harmful Description         217794 non-null  object
 16  Street Address              220110 non-null  object
 17  City                        220118 non-null  object
 18  State                       220118 non-null  object
 19  ZIP                         219018 non-null  float64
 20  RPA                         219012 non-null  float64
 21  Precinct                    218996 non-null  object
 22  Latitude                    219637 non-null  float64
 23  Longitude                   219637 non-null  float64
 24  Mapped Location             219637 non-null  object
dtypes: float64(9), int64(3), object(13)
memory usage: 42.0+ MB

In [7]:
Traffic_Accidents_df.isnull().sum()

Accident Number                    0
Date and Time                      0
Number of Motor Vehicles           1
Number of Injuries                 0
Number of Fatalities               0
Property Damage               203864
Hit and Run                       17
Reporting Officer                 10
Collision Type Code               17
Collision Type Description        17
Weather Code                    5381
Weather Description             5381
Illumination Code                310
Illumination Description         310
Harmful Code                       0
Harmful Description             2324
Street Address                     8
City                               0
State                              0
ZIP                             1100
RPA                             1106
Precinct                        1122
Latitude                         481
Longitude                        481
Mapped Location                  481
dtype: int64

In [19]:
Traffic_Accidents_df.nunique()

Accident Number               220118
Date and Time                 197171
Number of Motor Vehicles          14
Number of Injuries                16
Number of Fatalities               1
Property Damage                    1
Hit and Run                        2
Reporting Officer               1535
Collision Type Code               10
Collision Type Description        10
Weather Code                      12
Weather Description               12
Illumination Code                  8
Illumination Description           8
Harmful Code                    3605
Harmful Description             2790
Street Address                 28988
City                              19
State                              1
ZIP                               33
RPA                             1944
Precinct                           8
Latitude                        3340
Longitude                       4025
Mapped Location                25764
dtype: int64

In [20]:
Traffic_Accidents_df

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20200606233,"September 21, 2020 06:37 PM",1.0,0,0,NaN,False,311344.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,TREE;Ran Off Road-Left,LEWIS ST & FAIN ST,NASHVILLE,TN,37210.0,8207.0,HERMIT,36.1518,-86.7580,POINT (-86.758 36.1518)
1,20200603908,"September 20, 2020 12:00 AM",1.0,0,0,True,True,409155.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,MAIL BOX,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207.0,2005.0,MADISO,36.2323,-86.7733,POINT (-86.7733 36.2323)
2,20200604395,"September 20, 2020 07:20 PM",1.0,1,0,NaN,False,330419.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,OTHER ANIMAL,SHUTE LN & SAUNDERSVILLE RD,OLD HICKORY,TN,37138.0,9717.0,HERMIT,36.2267,-86.6032,POINT (-86.6032 36.2267)
3,20200605021,"September 21, 2020 05:58 AM",2.0,0,0,NaN,False,256569.0,5.0,SIDESWIPE - SAME DIRECTION,...,MOTOR VEHICLE IN TRANSPORT,MURFREESBORO PKE & WILHAGAN RD,NASHVILLE,TN,37217.0,8801.0,SOUTH,36.1325,-86.7193,POINT (-86.7193 36.1325)
4,20200605988,"September 21, 2020 03:27 PM",2.0,0,0,NaN,False,179606.0,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,NOLENSVILLE PKE & WOODYCREST AV,NASHVILLE,TN,37211.0,8041.0,MIDTOW,36.1312,-86.7562,POINT (-86.7562 36.1312)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220113,20210529661,"October 10, 2021 08:53 PM",2.0,0,0,NaN,False,4000726.0,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT;UTILITY POLE,PEABODY ST & 6TH AVS,NASHVILLE,TN,37203.0,4039.0,CENTRA,36.1549,-86.7767,POINT (-86.7767 36.1549)
220114,20210529129,"October 10, 2021 01:24 AM",2.0,0,0,NaN,True,4004451.0,5.0,SIDESWIPE - SAME DIRECTION,...,PARKED MOTOR VEHICLE,NEILL AV & MANSFIELD CT,NASHVILLE,TN,37206.0,1915.0,EAST,36.1816,-86.7600,POINT (-86.76 36.1816)
220115,20210529262,"October 10, 2021 02:30 PM",3.0,1,0,NaN,False,4001100.0,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,MM 77 5 I 65,NASHVILLE,TN,37220.0,86042.0,MIDTOW,36.0775,-86.7663,POINT (-86.7663 36.0775)
220116,20210529382,"October 10, 2021 12:00 AM",2.0,1,0,NaN,False,4001002.0,9.0,UNKNOWN,...,MOTOR VEHICLE IN TRANSPORT;UNKNOWN MOST HARMFU...,MM 58 2 I 24,ANTIOCH,TN,37013.0,87060.0,SOUTH,36.0564,-86.6761,POINT (-86.6761 36.0564)
220117,20210528648,"October 10, 2021 02:00 AM",1.0,0,0,NaN,True,342952.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CONCRETE TRAFFIC BARRIER,MM 220 3 I 40,HERMITAGE,TN,37076.0,94020.0,HERMIT,36.1678,-86.6098,POINT (-86.6098 36.1678)

In [21]:
Traffic_Accidents_df.describe()

,Accident Number,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Reporting Officer,Collision Type Code,Weather Code,Illumination Code,ZIP,RPA,Latitude,Longitude
count,2.201180e+05,220117.000000,220118.000000,220118.0,2.201080e+05,220101.000000,214737.000000,219808.000000,219018.000000,219012.000000,219637.000000,219637.000000
mean,2.017933e+10,1.851247,0.389959,0.0,4.911680e+05,7.219036,19.205670,1.836180,37174.500342,12816.827507,36.006265,-86.411025
std,2.024968e+07,0.692973,0.762556,0.0,7.277035e+05,10.697676,10.469676,3.825244,67.779333,20986.478468,2.251886,5.402456
min,2.010081e+10,0.000000,0.000000,0.0,1.000000e+00,0.000000,2.000000,1.000000,37013.000000,1001.000000,0.000000,-89.642600
25%,2.016080e+10,2.000000,0.000000,0.0,2.066720e+05,4.000000,21.000000,1.000000,37201.000000,4102.000000,36.097400,-86.790000
50%,2.018032e+10,2.000000,0.000000,0.0,2.791240e+05,5.000000,21.000000,1.000000,37207.000000,8043.000000,36.149600,-86.755100
75%,2.019081e+10,2.000000,1.000000,0.0,4.745570e+05,11.000000,21.000000,3.000000,37211.000000,8902.000000,36.183600,-86.699800
max,2.022038e+10,27.000000,35.000000,0.0,4.006569e+06,98.000000,99.000000,98.000000,37240.000000,95101.000000,36.615400,0.000000

In [8]:
Traffic_Accidents_df.isnull().any()

Accident Number               False
Date and Time                 False
Number of Motor Vehicles       True
Number of Injuries            False
Number of Fatalities          False
Property Damage                True
Hit and Run                    True
Reporting Officer              True
Collision Type Code            True
Collision Type Description     True
Weather Code                   True
Weather Description            True
Illumination Code              True
Illumination Description       True
Harmful Code                  False
Harmful Description            True
Street Address                 True
City                          False
State                         False
ZIP                            True
RPA                            True
Precinct                       True
Latitude                       True
Longitude                      True
Mapped Location                True
dtype: bool

In [9]:
Traffic_Accidents_df

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20200606233,"September 21, 2020 06:37 PM",1.0,0,0,NaN,False,311344.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,TREE;Ran Off Road-Left,LEWIS ST & FAIN ST,NASHVILLE,TN,37210.0,8207.0,HERMIT,36.1518,-86.7580,POINT (-86.758 36.1518)
1,20200603908,"September 20, 2020 12:00 AM",1.0,0,0,True,True,409155.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,MAIL BOX,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207.0,2005.0,MADISO,36.2323,-86.7733,POINT (-86.7733 36.2323)
2,20200604395,"September 20, 2020 07:20 PM",1.0,1,0,NaN,False,330419.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,OTHER ANIMAL,SHUTE LN & SAUNDERSVILLE RD,OLD HICKORY,TN,37138.0,9717.0,HERMIT,36.2267,-86.6032,POINT (-86.6032 36.2267)
3,20200605021,"September 21, 2020 05:58 AM",2.0,0,0,NaN,False,256569.0,5.0,SIDESWIPE - SAME DIRECTION,...,MOTOR VEHICLE IN TRANSPORT,MURFREESBORO PKE & WILHAGAN RD,NASHVILLE,TN,37217.0,8801.0,SOUTH,36.1325,-86.7193,POINT (-86.7193 36.1325)
4,20200605988,"September 21, 2020 03:27 PM",2.0,0,0,NaN,False,179606.0,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,NOLENSVILLE PKE & WOODYCREST AV,NASHVILLE,TN,37211.0,8041.0,MIDTOW,36.1312,-86.7562,POINT (-86.7562 36.1312)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220113,20210529661,"October 10, 2021 08:53 PM",2.0,0,0,NaN,False,4000726.0,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT;UTILITY POLE,PEABODY ST & 6TH AVS,NASHVILLE,TN,37203.0,4039.0,CENTRA,36.1549,-86.7767,POINT (-86.7767 36.1549)
220114,20210529129,"October 10, 2021 01:24 AM",2.0,0,0,NaN,True,4004451.0,5.0,SIDESWIPE - SAME DIRECTION,...,PARKED MOTOR VEHICLE,NEILL AV & MANSFIELD CT,NASHVILLE,TN,37206.0,1915.0,EAST,36.1816,-86.7600,POINT (-86.76 36.1816)
220115,20210529262,"October 10, 2021 02:30 PM",3.0,1,0,NaN,False,4001100.0,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,MM 77 5 I 65,NASHVILLE,TN,37220.0,86042.0,MIDTOW,36.0775,-86.7663,POINT (-86.7663 36.0775)
220116,20210529382,"October 10, 2021 12:00 AM",2.0,1,0,NaN,False,4001002.0,9.0,UNKNOWN,...,MOTOR VEHICLE IN TRANSPORT;UNKNOWN MOST HARMFU...,MM 58 2 I 24,ANTIOCH,TN,37013.0,87060.0,SOUTH,36.0564,-86.6761,POINT (-86.6761 36.0564)
220117,20210528648,"October 10, 2021 02:00 AM",1.0,0,0,NaN,True,342952.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CONCRETE TRAFFIC BARRIER,MM 220 3 I 40,HERMITAGE,TN,37076.0,94020.0,HERMIT,36.1678,-86.6098,POINT (-86.6098 36.1678)

In [10]:
Traffic_Accidents_df.dropna()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Description,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location
1,20200603908,"September 20, 2020 12:00 AM",1.0,0,0,True,True,409155.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,MAIL BOX,RICHMOND HILL DR & CARTERWOOD DR,NASHVILLE,TN,37207.0,2005.0,MADISO,36.2323,-86.7733,POINT (-86.7733 36.2323)
20,20200605611,"September 21, 2020 12:30 PM",2.0,0,0,True,False,279230.0,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,HAYWOOD LN & EAST RIDGE DR,NASHVILLE,TN,37211.0,8707.0,SOUTH,36.0700,-86.6985,POINT (-86.6985 36.07)
27,20200604135,"September 20, 2020 06:55 PM",1.0,0,0,True,False,409188.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,GUARDRAIL END;SHRUBBERY;Ran Off Road-Right;EMB...,MM 43 3 I 24,WHITES CREEK,TN,37189.0,32260.0,NORTH,36.2411,-86.7858,POINT (-86.7858 36.2411)
44,20200603888,"September 20, 2020 03:20 PM",1.0,1,0,True,False,330413.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,OTHER FIXED OBJECTS,MM 218 0 I 40,NASHVILLE,TN,37217.0,89020.0,HERMIT,36.1413,-86.6670,POINT (-86.667 36.1413)
63,20200604189,"September 20, 2020 06:41 PM",1.0,0,0,True,False,330415.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,OVERHEAD SIGN SUPPORT,0 US HWY 41,NASHVILLE,TN,37217.0,8935.0,HERMIT,36.0897,-86.6503,POINT (-86.6503 36.0897)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220072,20210529663,"October 10, 2021 08:50 PM",1.0,0,0,True,True,384442.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,FENCE,HERMAN ST & 16TH AVN,NASHVILLE,TN,37203.0,5421.0,NORTH,36.1656,-86.8001,POINT (-86.8001 36.1656)
220075,20210528356,"October 09, 2021 09:45 PM",1.0,0,0,True,True,337276.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,UTILITY POLE,26TH AVN & BUCHANAN ST,NASHVILLE,TN,37208.0,4465.0,NORTH,36.1803,-86.8195,POINT (-86.8195 36.1803)
220091,20210528573,"October 09, 2021 10:00 PM",1.0,0,0,True,False,4002613.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CURB,18TH AVE S & 18TH AVE N,NASHVILLE,TN,37203.0,5707.0,MIDTOW,36.1530,-86.7960,POINT (-86.796 36.153)
220100,20210529669,"October 10, 2021 09:00 PM",2.0,0,0,True,True,4002572.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,PARKED MOTOR VEHICLE;CULVERT;Motor Vehicle-In-...,6300 ALAMO PL,NASHVILLE,TN,37209.0,4681.0,WEST,36.1525,-86.8757,POINT (-86.8757 36.1525)
220106,20210528797,"October 10, 2021 12:00 AM",1.0,1,0,True,False,4001141.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,UTILITY POLE,GALLATIN PKES & MADISON SQ,MADISON,TN,37115.0,1623.0,MADISO,36.2541,-86.7161,POINT (-86.7161 36.2541)

In [ ]:
# Numbers of hit and run by city.

In [37]:
number_of_vehicles = Traffic_Accidents_df[['Hit and Run','City','Harmful Description']]
number_of_vehicles

,Hit and Run,City,Harmful Description
0,False,NASHVILLE,TREE;Ran Off Road-Left
1,True,NASHVILLE,MAIL BOX
2,False,OLD HICKORY,OTHER ANIMAL
3,False,NASHVILLE,MOTOR VEHICLE IN TRANSPORT
4,False,NASHVILLE,MOTOR VEHICLE IN TRANSPORT
...,...,...,...
220113,False,NASHVILLE,MOTOR VEHICLE IN TRANSPORT;UTILITY POLE
220114,True,NASHVILLE,PARKED MOTOR VEHICLE
220115,False,NASHVILLE,MOTOR VEHICLE IN TRANSPORT
220116,False,ANTIOCH,MOTOR VEHICLE IN TRANSPORT;UNKNOWN MOST HARMFU...
220117,True,HERMITAGE,CONCRETE TRAFFIC BARRIER

In [36]:
Accidents = Traffic_Accidents_df[['Number of Injuries','City','Harmful Description']].value_counts().head()
number_of_vehicles

Number of Injuries  City       Harmful Description
0                   NASHVILLE  MOTOR VEHICLE IN TRANSPORT    90512
1                   NASHVILLE  MOTOR VEHICLE IN TRANSPORT    22240
0                   ANTIOCH    MOTOR VEHICLE IN TRANSPORT    10397
                    MADISON    MOTOR VEHICLE IN TRANSPORT     7695
2                   NASHVILLE  MOTOR VEHICLE IN TRANSPORT     6731
dtype: int64

In [12]:
Traffic_Accidents_df['City'].value_counts().head(5)

NASHVILLE    165583
ANTIOCH       21513
MADISON       14355
HERMITAGE      7536
BRENTWOOD      3671
Name: City, dtype: int64

In [39]:
Traffic_Accidents_df['Hit and Run'].count()

220101

In [ ]:
# Which city has the highest accidents rates?

In [42]:
city_count = Traffic_Accidents_df[['Accident Number','City']].value_counts().head(5)
city_count

Accident Number  City
20100808802      NASHVILLE         1
20190329403      NASHVILLE         1
20190329417      GOODLETTSVILLE    1
20190329427      ANTIOCH           1
20190329432      NASHVILLE         1
dtype: int64

In [ ]:
#count of accidentsf by weather conditions

In [47]:
counts = Traffic_Accidents_df.groupby(['Weather Description']).count()['City']
counts = counts.reset_index()
counts

       Weather Description    City
0   BLOWING SAND/SOIL/DIRT       1
1             BLOWING SNOW      82
2                    CLEAR  149633
3                   CLOUDY   31705
4                      FOG     451
5        OTHER (NARRATIVE)     120
6                     RAIN   28504
7         SEVERE CROSSWIND      28
8              SLEET, HAIL     396
9              SMOG, SMOKE      25
10                    SNOW    1748
11                 UNKNOWN    2044

In [14]:
# get top 5 city by yearly hit and run rate
top_city_df=Traffic_Accidents_df[['City', 'Hit and Run']].sort_values('Hit and Run',ascending=False, ignore_index=True)[:5]
top_city_df

        City Hit and Run
0  NASHVILLE        True
1  NASHVILLE        True
2  NASHVILLE        True
3  NASHVILLE        True
4    MADISON        True

In [15]:
injuries_df = Traffic_Accidents_df.groupby(Traffic_Accidents_df['City']).count().sort_values(by = 'State', ascending = False).head(5)
injuries_df = injuries_df.reset_index()
injuries_df = injuries_df[['City', 'State']]
injuries_df = injuries_df.rename(columns={'State' : 'State', 'City': 'Count'})
injuries_df

       Count   State
0  NASHVILLE  165583
1    ANTIOCH   21513
2    MADISON   14355
3  HERMITAGE    7536
4  BRENTWOOD    3671

In [16]:
Traffic_Accidents_df["Date and Time"]

0         September 21, 2020 06:37 PM
1         September 20, 2020 12:00 AM
2         September 20, 2020 07:20 PM
3         September 21, 2020 05:58 AM
4         September 21, 2020 03:27 PM
                     ...
220113      October 10, 2021 08:53 PM
220114      October 10, 2021 01:24 AM
220115      October 10, 2021 02:30 PM
220116      October 10, 2021 12:00 AM
220117      October 10, 2021 02:00 AM
Name: Date and Time, Length: 220118, dtype: object